fastapi
uvicorn
google-generativeai
pydantic
requests
python-dotenv
SQLAlchemy
python-jose[cryptography]
slowapi
scikit-learn
python-multipart
passlib
bcrypt
opencv-python-headless
numpy
